---
// Component Imports
import ContactsView from "@components/ContactsView.astro";
import HeroSection from "@components/HeroSection.astro";
import ServiceCards from "@components/ServiceCards.astro";
import WorkMethod from "@components/WorkMethod.astro";
import FAQSection from "@components/FAQSection.astro";
import WhyMe from "@components/WhyMe.astro";
import MySection from "@components/MySection.astro";

import Layout from "@layouts/Layout.astro";
---

<Layout>
		<div class="gradient-homepage-one relative isolate">
			<div class="soft-grid"></div>
			<section class="pt-10 pb-14 md:pt-16 md:pb-20">
				<div class="container mx-auto px-4 md:px-8 max-w-screen-2xl">
					<HeroSection />
				</div>
			</section>

			<!-- <section class="pb-14 md:pb-20">
				<div class="container mx-auto px-4 md:px-8 max-w-screen-2xl">
					<WhyMe />
				</div>
			</section> -->
			<section class="pb-16 md:pb-24">
				<div class="container mx-auto px-4 md:px-8 max-w-screen-2xl">
					<MySection />
				</div>
			</section>
			
		</div>
		
		<div class="gradient-homepage-two relative isolate">
			
			<section class="pb-16 md:pb-24" id="servizi">
				<div class="container mx-auto px-4 md:px-8 max-w-screen-2xl">
					<ServiceCards />
				</div>
			</section>
			
			<!-- <section class="pb-16 md:pb-24">
				<div class="container mx-auto px-4 md:px-8 max-w-screen-2xl">
					<WorkMethod />
				</div>
			</section> -->

			<!-- <section class="pb-16 md:pb-24">
				<div class="container mx-auto px-4 md:px-8 max-w-screen-2xl">
					<FAQSection />
				</div>
			</section> -->
			
			<section class="pb-16 md:pb-24" id="contatti">
				<div class="container mx-auto px-4 md:px-8 max-w-screen-2xl">
					<ContactsView />
				</div>
			</section>
		</div>
</Layout>
