---
import '../styles/global.css'
import Card from '../components/Card.astro';
// Common Class Lists
const headerClasses = 'space-y-2 pb-2 border-b-2 border-surface-800-200';
const previewCardClasses = 'card bg-noise bg-surface-50-950 border-[1px] border-surface-200-800 flex justify-center items-center p-8';

---

<main>
	<!-- Sticky Header -->
	<header class="sticky top-0 z-50 bg-surface-50-950 shadow-xl">
		<div class="container mx-auto grid grid-cols-[auto_1fr_auto] items-center gap-10 p-4">
			<h1 class="h3">Andrea Faccani</h1>
			<p class="text-xs opacity-60"></p>
			<a href="https://skeleton.dev" target="_blank" class="btn preset-filled">Contattami</a>
		</div>
	</header>

	<!-- Page Contents -->
	<div class="container mx-auto space-y-4 px-4 py-20">
		<!-- -------------------------------------------------------- -->
		<header class={headerClasses}>
			<h2 class="h2">Fisioterapista a Domicilio</h2>
			<h2 class="h4">Lugo e Dintorni</h2>
		</header>
		<!-- -------------------------------------------------------- -->
		<section class="space-y-4 ">
			<div class="flex flex-col gap-4 lg:flex-row lg:gap-8 items-center justify-center">
			<!-- <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 "> -->
				<Card>
					<div>
						<!-- <h2 class="h6">Announcements</h2> -->
						<h3 class="h3">Recupera la tua migliore attività e qualità della vita con il ...</h3>
					</div>
				</Card>
				<Card>
					<div>
						<!-- <h2 class="h6">Announcements</h2> -->
						<h3 class="h3">Recupera la tua migliore attività e qualità della vita con il ...</h3>
					</div>
				</Card>
			</div>
		</section>
	</div>

</main>